.user{
    /* border: 2px solid red; */
    height: 90%;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1rem;

}
.user-top_containe{
    /* border: 2px solid blue; */
    height: 20%;
    width: 100%;
}
.user-show_containe{
    border:inset 2px  black;
    height: 80%;
    width: 100%;
    box-shadow: 10px 10px 40px black;
}
.radio-btn{
    /* border: 2px solid red; */
    display: flex;
    height: 10%;
}
.show-result {
    /* border: 2px solid red; */
    height: 90%;
    width: 100%;
    overflow: scroll;
    font-family: "Rock Salt", cursive;
}
.show-result::-webkit-scrollbar{
    display: none;
}

tbody tr th {
    background-color:grey;
    color: white;
    padding: .4rem;
    /* position: fixed; */
    /* z-index: 10; */
  }
  tbody tr:nth-child(odd) {
    background-color:rgb(165, 158, 158);
  }
  
  tbody tr:nth-child(even) {
    background-color: #d6d4d6;
  }